/* organize this please */

body {
  font-family: 'Courier Prime', monospace !important;
}

/* get rid of chromes stupid focus thing */
input:focus,
select:focus,
textarea:focus,
button:focus,
.button:focus {
    outline: none;
}

.LandingPage {
  text-align: center;
  background: url('https://images.unsplash.com/photo-1517868163143-6eb6c78dbf54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') no-repeat center;
  min-width: 100%;
  height: 736px;
  position: fixed;
}

.App-link {
  color: #09d3ac;
}

input {
  border: 2px solid black;
}

.navProfilePicture {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 5px;
}

.logo {
  text-align: center;
  background-color: #0E3035;
  color: #F7FFF7 !important;
  font-size: 30px !important;
  /* border-bottom: 2px solid #09d3ac; */
  /* margin-left: 30px;
  margin-right: 30px; */
}

.NavBar {
  background-color: #0E3035;
  text-align: left;
  border-bottom: 4px solid #09d3ac;
  margin-bottom: 5px;
}

.landingPageOption {
  margin-top: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0E3035;
  height: 100px;
  width: 100%;
  text-align: center;
  color: #F7FFF7;
  box-shadow: 0px 5px;
}

.centerLandingPage {
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TagLine {
  width: 70%;
  font-weight: bold;
}

.linkFont {
  color: #09d3ac !important;
}

.linkFont:hover {
  color: #F7FFF7  !important;
}

.textFont {
  color: #F7FFF7 !important;
}

.textFont:hover {
  color: #09d3ac !important;
}

.landingPageOption:hover {
  margin-top: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0E3035;
  height: 100px;
  width: 100%;
  text-align: center;
  color: #09d3ac;
  box-shadow: 0px 5px #09d3ac;
}

.citiesForms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.searchCities {
  border: 2px solid black;
}

.searchCities input {
  border: none;
}

#addClassButton {
  background-color: black;
}

#closeAddClass {
  background-color:  rgb(233, 230, 230);
  color: black;
  float: right;
}

.CitiesList {
  /* border: 5px solid #0E3035; */
  background-color: white;
  margin-bottom: 10px;
}

.CitiesList .itineraryPhoto{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 130px;
}

.CitiesList div {
  color:  #0E3035;
}

.CitiesList img {
  width: 20px;
  height: 20px;
}

.OneCityMultiItin {
  height: 200px;
  width: 250px;
  margin: 10px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-repeat: no-repeat;
  background-position: center;
}

.OneCityMultiItin p {
  color: black;
  width: 70%;
  /* height: 2em; */
  overflow-wrap: break-word;
}

.citiesHeader {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.citiesHeader img{
  margin-right: 10px;
}

.itineraryCoverDescription {
  display: flex;
  justify-content: space-between;
}

#signInWithGoogle {
  background-color: rgb(228, 230, 228);
  box-shadow: 3px 3px rgb(224, 224, 224);
  color: rgb(114, 113, 113);
  font-weight: bold;
  width: 350px;
}

#signInWithGoogle img{
  height: 40px;
  width: 40px;
  float: left;

}

#signInWithEmail {
  background-color: #0E3035;
  box-shadow: 3px 3px rgb(224, 224, 224);
  color: whitesmoke;
  width: 350px;
}

#signInWithEmail img{
  height: 40px;
  width: 40px;
  float: left;
}

#createAccountWithEmail {
  background-color: #64b8a7;
  box-shadow: 3px 3px rgb(224, 224, 224);
  color: black;
  width: 350px;
  border-color: #609e92 !important;
}

#createAccountWithEmail img{
  height: 40px;
  width: 40px;
  float: left;
}

#signInButtonsContainer Button{
  margin-top: 40px;
}

#signInButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.logInHeader {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logInHeader img{
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.logInWithEmailForm {
  position: absolute;
  top: 200px;
  right: 10px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  padding: 0 20px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

/* This fires as soon as the element enters the dorm */
.emailLog-transition-enter,
.emailLog-transition-appear {
  /*We give the list the initial dimension of the list button*/
  right: -400px;
  color: transparent;
}
/* This is where we can add the transition*/
.emailLog-transition-enter-active,
.emailLog-transition-appear-active {
  right: 10px;
  background-color: white;
  transition: all 400ms;
}

/* This fires as soon as the this.state.showList is false */
.emailLog-transition-exit {
  right: 10px;
  background-color: white;
}
/* fires as element leaves the DOM*/
.emailLog-transition-exit-active {
  right: -400px;
  color: transparent;
  transition: all 400ms;
}

.logInSubmitButtonContainer {
  position: relative;
  left: 270px;
}

.logInBackButton {
  position: relative;
  bottom: 40px;
  background-color: rgb(228, 230, 228);
  color: black;
}

#thePostResourceButton {
  background-color: black;
}

.createNewAccountForm {
  position: absolute;
  top: 170px;
  right: 10px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  padding: 0 20px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

/* This fires as soon as the element enters the dorm */
.newAcct-transition-enter,
.newAcct-transition-appear {
  /*We give the list the initial dimension of the list button*/
  right: -400px;
  color: transparent;
}
/* This is where we can add the transition*/
.newAcct-transition-enter-active,
.newAcct-transition-appear-active {
  right: 10px;
  background-color: white;
  transition: all 400ms;
}

/* This fires as soon as the this.state.showList is false */
.newAcct-transition-exit {
  right: 10px;
  background-color: white;
}
/* fires as element leaves the DOM*/
.newAcct-transition-exit-active {
  right: -400px;
  color: transparent;
  transition: all 400ms;
}

#profileCompPic {
  height: 80px;
  width: 80px;
}

.infoContainers {
  margin-left: 10px !important;
  margin-top: 25px;
  max-width: 90vw !important;
}

.infoContainers h4 {
  text-decoration: underline;
}

#profileInfoContainer {
  display: flex;
  text-align: left;
}

#nameAndEmail {
  margin-right: 20px;
}

#favoritesNav .current{
  background-color: #64b8a7 ;
}

#favoritesNav img {
  width: 20px; 
  height: 20px;
  margin-right: 5px;
}

.favoritesTab {
  background-color: rgb(233, 230, 230);
  position: relative;
  z-index: 1;
  width: 380px;
  min-height: 250px;
  padding: 0 20px;
  overflow: hidden;
  /* border-radius: 5px; */
  border-top: 5px solid #0E3035;
}

.favoritesTab .btn {
  margin: 10px;
  margin-left: 0px;
}

/* showActivities-transition */
.showActivities-transition-enter,
.showActivities-transition-appear {
  right: 450px;
}
.showActivities-transition-enter-active,
.showActivities-transition-appear-active {
  right: 0px;
  transition: all 400ms;
}
.showActivities-transition-exit {
  right: 0px;
}
.showActivities-transition-exit-active {
  right: 450px;
  transition: all 400ms;
}

/* This fires as soon as the element enters the dorm */
.showItineraries-transition-enter,
.showItineraries-transition-appear {
  /*We give the list the initial dimension of the list button*/
  left: 450px;
  bottom: 250px;
}
/* This is where we can add the transition*/
.showItineraries-transition-enter-active,
.showItineraries-transition-appear-active {
  left: 0px;
  transition: all 400ms;
}

/* This fires as soon as the this.state.showList is false */
.showItineraries-transition-exit {
  left: 0px;
}
/* fires as element leaves the DOM*/
.showItineraries-transition-exit-active {
  left: 450px;
  bottom: 250px;
  transition: all 400ms;
}

#singleCityCover {
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 5%;
}

.horizontalScroll {
  overflow: auto !important;
  white-space: nowrap !important;
}

.horizontalScroll .horizontalScrollDiv{
  display: inline-block;
}

.horizontalScroll .itineraryPhoto {
  height: 140px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heart {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 180px;
  left: 35px;
}

