/* Different styles with different classnames which will be 
accessed as props passed to child from parent housing them */

/* Names of classes are by the parent component which passes them */

.PopularItineraries {
    width: 130px;
    height: 130px;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.PopularItineraries p {
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
}

.CitiesList {
    height: 120px;
    padding: 15px;
    margin: 0;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.CitiesList p {
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
}

.OneCityMultiItin {
    height: 120px;
    padding: 15px;
    margin: 0;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.OneCityMultiItin p {
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
}

