.Mytinerary-logo {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 260px;
    height: 100px;
}

.TagLine {
    font-size: 15px;
    margin: 10px;
}

.StartBrowsingButton {
    height: 80px;
    width: 80px;
}

.StartBrowsing {
    font-size: 15px;
    margin: 20px;
}

.homeIcon {
    height: 50px;
    width: 50px;
}

.linkBox {
    display: flex; 
    justify-content: space-around;
}

.linkBox a {
    width: 140px;
}

.StartBrowsing h2 {
    font-size: 25px;
}
