.Mytinerary-logo {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 120px;
}

.TagLine {
    font-size: 18px;
    margin: 15px;
}

.StartBrowsingButton {
    height: 100px;
    width: 100px;
}

.StartBrowsing {
    font-size: 15px;
    margin: 30px;
}

.homeIcon {
    height: 50px;
    width: 50px;
}

.linkBox {
    display: flex; 
    justify-content: space-around;
}

.linkBox a {
    width: 140px;
}

.StartBrowsing h2 {
    font-size: 25px;
}
